<template name="clientes">
	<div class="row">
		<h2>Clientes</h2>
		<a class="btn" href="{{ pathFor 'cliente_form'}}">
			Añadir nuevo Cliente
		</a>
		{{> EasySearch.Input index=clientes}}
		<ul class="collection with-header">	
			{{#EasySearch.Each index=clientes}}		
			<li class="collection-item">
				<div>
					{{name}}
					{{>cliente_links}}
					{{fecha_compra}}
				</div>
			</li>
			
			{{/EasySearch.Each}}

			{{#EasySearch.IfNoResults index=clientes}}
				<li class="collection-item">No hay resultados ...</li>
			{{/EasySearch.IfNoResults}}

			{{#EasySearch.IfSearching index=clientes}}
				<li class="collection-item">Buscando ...</li>
			{{/EasySearch.IfSearching}}
		</ul>
		{{>EasySearch.Pagination index=clientes}}
	</div>
</template>